<h3>Dance list</h3>
<table class="table table-striped table-bordered">
    <thead>
    <tr>
        <th>No.</th>
        <th>Date</th>        
        <th>Status</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tr ng-repeat="Dance in vm.dancies">
        <td>
            <div><strong>{{$index + 1}}</strong></div>
        </td>
        <td>
            <div>{{ Dance.date}}</div>
        </td>
         <td>
            <span class = "badge {{Dance.state}}">{{Dance.state}}</span>
        </td>
        <td>
            <button ng-click="vm.marking(Dance)" class="btn btn-success">Judge Now</button>
        </td>
    </tr>
</table>
